@import "../../variables";

.post-card {
    width: 400px;
    height: 300px;
    margin: 12px 6px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    position: relative;
    cursor: pointer;

    img {
        width: 100%;
        height: 220px;
    }

    & > .post-tags {
        position: absolute;
        left: 12px;
        top: 12px;

        a {
            text-decoration: none;
        }
    }

    & > .post-title {
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: $wod-blue;
        font-size: 18px;
        margin: 12px;
        display: block;
    }
}

.tag {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    color: $wod-blue;
    background-color: $wod-gray;
    padding: 4px 8px;
    margin-right: 12px;
    border-radius: 4px;
}

.tag-arduino {
    background-color: $wod-aqua;
}

.tag-javascript {
    background-color: $wod-yellow;
}

.tag-project-idea {
    background-color: $wod-red;
    color:white;
}
