@import "../../variables";
body {
    transition: filter 1s, background-color 1s;
}

body.lights-off {
    filter: grayscale(0.8) brightness(0.3);
    background-color: #424242;
}

.home-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 450px;
    padding-bottom: 100px;
    background-color: $wod-aqua;
    text-align: center;
}

.home-header-logo {
    width: 150px;
    height: 150px;
    transition: transform 300ms, filter 300ms;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        filter: drop-shadow(0 0 20px white) brightness(1.2);
    }
}

.home-header-title {
    font-family: 'Lato', sans-serif;
    font-size: 56px;
    font-weight: 100;
    color: white;
}

.home-header-subtitle {
    width: 400px;
    font-size: 20px;
}
