@import "../variables";

.index-main-container {
    margin-top: -100px;
}

.index-recent-posts-title {
    text-align: center;
    margin-top: 24px;
}

.index-main-card-area {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (min-width: $small-screen-brekpoint) {
        flex-direction: row;
    }
}