@import "../../variables";

.index-card {
    width: auto;
    height: auto;
    margin: 12px;
    padding: 24px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

    .cta-button {
        margin-bottom: 0;
    }

    @media (min-width: $small-screen-brekpoint) {
        width: 400px;
        margin: 12px 6px;
    }

    
}

.book-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    @media (min-width: $large-screen-brekpoint) {
        flex-direction: row;
    }

    p {
        font-size: 13px;
    }

    & > div:nth-child(1) {
        padding-right: 12px;
        width: 100%;
    }

    & > div:nth-child(2) {
        width: 50%;
        margin: 24px auto 0;
    }

    & p:last-child {
        margin-bottom: 0;
    }

    @media (min-width: $large-screen-brekpoint) {
        & > div:nth-child(1) {
            width: 60%;
        }
    
        & > div:nth-child(2) {
            width: 40%;
        }

        p {
            font-size: 16px;
        }
    }
}

.index-card-book {
    width: 100%;
    display: block;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.amazon-cta {
    width: calc(50% - 6px);
    padding: 0;

    &:nth-child(2n + 1) {
        margin-right: 12px;
    }

    &:nth-child(1), &:nth-child(2) {
        margin-bottom: 12px;
    }
}
