
/* Yellow / Warning */
$wod-yellow: #FBCA32;

/* Red / Action */
$wod-red: #F64443;

/* Gray / Panel  */
$wod-gray: #D7DADB;

/* Aqua / Navigate */
$wod-aqua: #74BCDD;

/* Blue / Connect */
$wod-blue: #2D3E51;


$small-screen-brekpoint: 500px;
$large-screen-brekpoint: 768px;