:root {
    /* Yellow / Warning */
    --wod-yellow: #FBCA32;
    
    /* Red / Action */
    --wod-red: #F64443;
    
    /* Gray / Panel  */
    --wod-gray: #D7DADB;
    
    /* Aqua / Navigate */
    --wod-aqua: #74BCDD;
    
    /* Blue / Connect */
    --wod-blue: #2D3E51;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    color: var(--wod-blue);
}

h1 {
    font-family: 'Lato', sans-sans;
}
